#module-wrapper {
	display: inline-block;
}

#dot-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: 7rem;
}

.dots img {
	cursor: grab;
	cursor: -webkit-grab;
}

.dots img:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

.dropzones {
	position: relative;
}

.dropzone {
	align-items: center;
	border-radius: 4.25rem;
	display: flex;
	height: 8.5rem;
	justify-content: center;
	position: absolute;
	width: 8.5rem;
}

#target1 {
  left: 1.35rem;
  top: 10.45rem;
}

#target2 {
	left: 26.9rem;
  top: 2.9rem;
}

#target3 {
	left: 15.6rem;
  top: 1.4rem;
}

#target4 {
  left: 7.35rem;
	top: 19.4rem;
}

#target5 {
	left: 24.65rem;
  top: 16.4rem;
}

#reset {
	background-color: dodgerblue;
	border: none;
	color: white;
	float: right;
	font-size: 1.25rem;
	height: auto;
	letter-spacing: 0.02rem;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	width: auto;
}

#reset:focus {
	outline: none;
}

#reset:hover {
	background-color: cornflowerblue;
	cursor: pointer;
}
